{{#each table}}
    <table id="{{tabId}}"> <!-- Таблиця -->
        <thead>
            <tr>
				 <th colspan="7"><a href="{{linkSelf}}">{{tabName}}</a></th>
            </tr>
	    </thead>
        <tbody>
            {{#each row}}
		      <tr>
                    {{#if codeRef}}
                        <td><a href='{{href}}'>{{this.codeID}}</a></td>
                    {{else}}
					     <td>{{this.codeID}}</td>
                    {{/if}}
					     <td><img src='{{this.photo}}' /></td>
					     <td>{{this.name}}</td>
                    {{#if sort}}
					     <td>{{this.sort}}</td>
                    {{/if}}
					     <td>{{this.harvest}}</td>
					     <td>{{this.date}}</td>
					     <td>{{this.cost}}</td>
              </tr>
            {{/each}}
        </tbody>
    </table>
{{/each}}